/* ===========================
   GOOGLE FONT
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    text-decoration:none;
    list-style:none;
}


/* ===========================
   VARIABLES
=========================== */

:root{

    --bg-color:#0f172a;
    --second-bg:#1e293b;
    --card-bg:#273549;

    --primary:#38bdf8;
    --primary-dark:#0ea5e9;

    --white:#ffffff;
    --text:#cbd5e1;
    --border:#334155;

    --shadow:0 10px 30px rgba(0,0,0,.35);

}


/* ===========================
   BODY
=========================== */

body{

    font-family:'Poppins',sans-serif;

    background:var(--bg-color);

    color:var(--white);

    overflow-x:hidden;

}


/* ===========================
   SECTION
=========================== */

section{

    min-height:100vh;

    padding:100px 10%;

}


/* ===========================
   CONTAINER
=========================== */

.container{

    max-width:1200px;

    margin:auto;

}


/* ===========================
   HEADINGS
=========================== */

h1{

    font-size:4rem;

    line-height:1.2;

}

h2{

    font-size:2.6rem;

}

h3{

    font-size:1.5rem;

}

p{

    color:var(--text);

    line-height:1.8;

}


/* ===========================
   BUTTON
=========================== */

.btn{

    display:inline-block;

    padding:14px 32px;

    border-radius:50px;

    background:var(--primary);

    color:#fff;

    font-weight:600;

    transition:.3s;

}

.btn:hover{

    background:var(--primary-dark);

    transform:translateY(-3px);

}


/* ===========================
   IMAGE
=========================== */

img{

    width:100%;

    display:block;

}


/* ===========================
   SCROLLBAR
=========================== */

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:var(--primary);

}

::-webkit-scrollbar-track{

    background:var(--bg-color);

}
